<!-- <meta http-equiv="refresh" content="10"> -->

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>

  <% @rooms.each do |room| %>
    <div class="col-lg-6">
      <div class="panel <%= room.temp_ok? ? 'panel-red' : 'panel-green' %>">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <p>Tempratura ideal</p>
              <div class="huge"><%= "#{ room.temperature_minimum }ยบ ~ #{ room.temperature_max }ยบ" %></div>
            </div>
            <div class="col-xs-6 text-right">
              <p>Tempratura atual</p>
              <div class="huge"><%= room.current_temp %>ยบ</div>
              <div>
                <% if room.current_temp > room.temperature_max %>
                  Acima do esperado!
                <% elsif room.current_temp < room.temperature_minimum %>
                  abaixo do esperado!
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-left"><%= room.name %></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
